<% console.log("Using ejs") %>
<% console.log(error) %>

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Error: <%= error %> </title>
  <meta name="author" content="Micheal Erickson">
  <meta name="description" content="Error Page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <p>Internal Error: <%= error %> </p>
</body>
</html>
